<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Alaya</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='logo_muzero_1.png') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
  <link rel="stylesheet" href={{ url_for('static', filename='/css/custom.css') }} 
type="text/css">
  <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
  <!-- css card di form option-->
  <link rel="stylesheet1" href={{ url_for('static', filename='/css/bootstrap.min1.css') }} 
type="text/css">
  <link rel="stylesheet1" href={{ url_for('static', filename='/css/docs.css') }} 
type="text/css">
  
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
<!-- javascript card di form option-->
  <script src={{ url_for('static', filename='/js/bootstrap.bundle1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">


	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
      
			<!-- Logo -->
			<div class="navbar-header row">
				<img 
          src={{ url_for('static', filename='/images/logo_muzero_1.png') }} alt="Orbit Logo" 
				width="50" height="50" align="left">
				<a class="navbar-brand" href="#halamanku">&#160; Muzero 1</a>
			</div>

			<!-- Daftar Halaman -->
      <div class="collapse navbar-collapse" id="myNavbar"><ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
          <li><a href="#why-us">WHY US?</a></li>
          <li><a href="#faq">FAQ</a></li>
					<li><a href="#anggotakelompok">ANGGOTA</a></li>
        </ul>
      </div>

		</div>
    
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<!-- Deskripsi Aplikasi -->
        <img 
          src={{ url_for('static', filename='/images/alaya.png') }} alt="Orbit Logo" 
				width="150" height="50">
        <br>
        <h4>Prediksi Harga Rumah di Jabodetabek</h4> 
				<p style="text-align: justify;text-justify: inter-word;">
					Selamat datang di Alaya. Aplikasi akan membantu Anda mencarikan harga rumah yang ingin Anda cari di Jabodetabek berdasarkan lokasi, luas tanah, luas bangunan, jumlah kamar tidur, jumlah kamar mandi, daya listrik, dan adanya tempat parkir. Kami juga akan memberikan Anda rekomendasi rumah sesuai keinginan Anda.
					Ingin cari tahu berapa harga rumah idaman Anda? Cek di bawah ya!
				</p>
				<br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#ffffff;z-index: 0;border:none">
					<ul class="nav nav-pills" >
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="#aplikasi" style="background-color:#000000;color:#ffffff ">Mulai</a>
						</li>
					</ul>
				</nav>
      </div>

      <div class="col-sm-6">
        <br>
				<br>
				<!-- Gambar Deskripsi Aplikasi -->
				<img 
          style="border-radius: 1em;"
          src={{ url_for('static', filename='/images/rumah-minimalis-di-hoek-2.jpeg') }} width="500" ></img>
      </div>
    </div>
    
  </div>
		
	

	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-12">
				</br>
				<!-- Input Nilai Pengukuran dari Pengguna -->
        <div class= "container">
          <h3 style="margin-left: px;"><b>Masukkan data rumah yang ingin anda cari</b></h3>
        </div>
        <div class="container">
  				
          <div class="opt-group">

            <div class="container">
              <form action="app/app.py" class="w-100 form-lokasi">
                <label for="lokasi" style="width:100%;">Lokasi Rumah:</label>
                <select name="lokasi" id="lokasi" class="select-app" data-toggle="tooltip" data-placement="top" title="nilai default : depok">
                  <optgroup label="Lokasi">
                    <option classname ="opt" value="Lokasi">-Lokasi Rumah-</option>
                    <option classname ="opt" value="0">Kota Jakarta</option>
                    <option classname ="opt" value="1">Kota Bogor</option>
                    <option classname ="opt" value="2">Kabupaten Bogor</option>
                    <option classname ="opt" value="3">Kota Depok</option>
                    <option classname ="opt" value="4">Kota Tanggerang</option>
                    <option classname ="opt" value="5">Kota Bekasi</option>
                    <option classname ="opt" value="6">Kabupaten Bekasi</option>
                  </optgroup>
                </select>
              </form>
            
            </div>

            <br/>
            <div class="d-flex justify-content-around">

              <!-- <div class="col-md-4 col-sm-6">
                <form action="app/app.py">
                  <label for="cars">Luas Tanah : </label>
                  <select name="luas_tanah" id="luas_tanah" class="select-app">
                    <optgroup label="Luas_Tanah">
                      <option classname ="opt" value="LT">-Luas Tanah-</option>
                      <option classname ="opt" value="Tipe 21">Tipe 21</option>
                      <option classname ="opt" value="Tipe 36">Tipe 36</option>
                      <option classname ="opt" value="Tipe 45">Tipe 45</option>
                      <option classname ="opt" value="Tipe 54">Tipe 54</option>
                      <option classname ="opt" value="Tipe 60">Tipe 60</option>
                      <option classname ="opt" value="Tipe 70">Tipe 70</option>
                      <option classname ="opt" value="Tipe 90">Tipe 90</option>
                      <option classname ="opt" value="Tipe 120">Tipe 120</option>
                      <option classname ="opt" value="Tipe 140">Tipe 140</option>
                    </optgroup>
                  </select>
                </form>
              </div> -->
              
              <div class="form-group col">
                <label for="luas_tanah">Luas Tanah:</label>
                <input type="number" class="form-control" id="luas_tanah" placeholder="Luas Tanah" value="100">
              </div>
            </div>

            
            <!-- <div class="col-md-4 col-sm-6">
                <form action="app/app.py">
                  <label for="luas_bangunan">Luas Bangunan:</label>
                  <select name="luas_bangunan" id="luas_bangunan" class="select-app">
                    <optgroup label="Tipe_Rumah">
                      <option classname ="opt" value="tipe_rumah">-Luas bangunan-</option>
                      <option classname ="opt" value="Tipe 21">Tipe 21</option>
                      <option classname ="opt" value="Tipe 36">Tipe 36</option>
                      <option classname ="opt" value="Tipe 45">Tipe 45</option>
                      <option classname ="opt" value="Tipe 54">Tipe 54</option>
                      <option classname ="opt" value="Tipe 60">Tipe 60</option>
                      <option classname ="opt" value="Tipe 70">Tipe 70</option>
                      <option classname ="opt" value="Tipe 90">Tipe 90</option>
                      <option classname ="opt" value="Tipe 120">Tipe 120</option>
                      <option classname ="opt" value="Tipe 140">Tipe 140</option>
                    </optgroup>
                  </select>
                </form>
              </div> -->
  
              <div class="form-group col">
                <label for="luas_bangunan">Luas Bangunan:</label>
                <input type="number" class="form-control" id="luas_bangunan" placeholder="Luas Bangunan" value="100">
              </div>
  
              
            
            <div class="container mult-opt">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <form action="app/app.py">
                  <label for="cars">Daya Listrik:</label>
                  <select name="listrik" id="listrik" class="select-app" data-toggle="tooltip" data-placement="top" title="nilai default : 2200">
                    <optgroup label="Listrik">
                      <option classname ="opt" value="listrik">-Jenis Daya listrik-</option>
                      <option classname ="opt" value="900">900</option>
                      <option classname ="opt" value="1300">1300</option>
                      <option classname ="opt" value="2200">2200</option>
                      <option classname ="opt" value="3500">3500</option>
                      <option classname ="opt" value="4400">4400</option>
                      <option classname ="opt" value="5500">5500</option>
                    </optgroup>
                  </select>
                </form>
              </div>
      
              <div class="col-lg-6 col-md-6 col-sm-6">
                <form action="app/app.py">
                  <label for="cars">Jumlah kamar tidur:</label>
                  <select name="kamar_tidur" id="kamar_tidur" class="select-app" data-toggle="tooltip" data-placement="top" title="nilai default : 2">
                    <optgroup label="Kamar_Tidur">
                      <option classname ="opt" value="KT">-Jumlah kamar tidur-</option>
                      <option classname ="opt" value="1">1</option>
                      <option classname ="opt" value="2">2</option>
                      <option classname ="opt" value="3">3</option>
                      <option classname ="opt" value="4">4</option>
                      <option classname ="opt" value="5">5</option>
                      <option classname ="opt" value="6">6</option>
                      <option classname ="opt" value="7">7</option>
                      <option classname ="opt" value="8">8</option>
                      <option classname ="opt" value="9">9</option>
                      <option classname ="opt" value="10">10</option>
                    </optgroup>
                  </select>
                </form>
              </div>
      
              <div class="col-lg-6 col-md-6 col-sm-6">
                <form action="app/app.py">
                  <label for="cars">Jumlah kamar mandi:</label>
                  <select name="kamar_mandi" id="kamar_mandi" class="select-app" data-toggle="tooltip" data-placement="top" title="nilai default : 1">
                    <optgroup label="Kamar_Mandi">
                      <option classname ="opt" value="KM">-Jumlah kamar mandi-</option>
                      <option classname ="opt" value="1">1</option>
                      <option classname ="opt" value="2">2</option>
                      <option classname ="opt" value="3">3</option>
                      <option classname ="opt" value="4">4</option>
                      <option classname ="opt" value="5">5</option>
                      <option classname ="opt" value="6">6</option>
                      <option classname ="opt" value="7">7</option>
                      <option classname ="opt" value="8">8</option>
                      <option classname ="opt" value="9">9</option>
                      <option classname ="opt" value="10">10</option>
                    </optgroup>
                  </select>
                </form>
              </div>
  
              
  
              <div class="col-lg-6 col-md-6 col-sm-6">
                <form action="app/app.py">
                  <label for="cars">Garasi: </label>
                  <select name="garasi" id="garasi" class="select-app" data-toggle="tooltip" data-placement="top" title="nilai default : Tidak Ada">
                    <optgroup label="Garasi">
                      <option classname ="opt" value="Garasi">-Apakah ada Garasi?-</option>
                      <option classname ="opt" value="0">Ada</option>
                      <option classname ="opt" value="1">Tidak Ada</option>
                    </optgroup>
                  </select>
                </form>
              </div>  
            </div>
            
          </div>
        </div>
        <br>
        <div class="row"
          style="
          display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
          padding-top: 5px;
          ">
          <button type="submit" id="prediksi_submit" class="btn btn-default btn-lg">Prediksi</button>
        </div>
      </div>
      <div class="container">
        <div class="col">
        <br>
        <h3 style="margin-left: 50px;"><b>Hasil Prediksi :   </b></h3>
        <div id="hasil_prediksi" align="center">
						<!-- Hasil Prediksi akan ditampilkan di sini-->
        </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  
    <section  class= "container rekomendasi">
      <h3 id="why-us" style="margin-left: 50px;"><b>Rekomendasi Rumah yang sesuai dengan anda</b></h3>
      <!-- <div class="col card card-rekomendasi" id="hasil_rekomendasi" style="width: 18rem;">
        
      </div> -->

      <ul class="property-list" id="hasil_rekomendasi">
        
      </ul>
      
    </section>  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  <div class="container"></div>
  <!-- Thumbnails  -->
  <div  class="container">
    <div class="col">

      <h3 style="margin-left: 50px;"><b>Kenapa Harus Cek Harga Properti?</b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src={{ url_for('static', filename='/images/home-owner-icon.png') }} alt="Pemilik Properti" width="75" height="75" align="center">
        <div class="caption">
          <h4><b>Pemilik Properti</b></h4>
          <p>Bisa mengetahui tren harga properti dan tahu waktu yang tepat untuk menjual kembali properti </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src={{ url_for('static', filename='/images/property-agent-icon.png') }} alt="Agen Properti" width="75" height="75" align="center">
        <div class="caption">
          <h4><b>Agen Properti</b></h4>
          <p>Sebagai alat bantu dalam memonitor dan menetapkan harga terkini properti di suatu area</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src={{ url_for('static', filename='/images/hand-money-income-dollar-icon.png') }} alt="Investor" width="75" height="75" align="center">
        <div class="caption">
          <h4><b>Investor</b></h4>
          <p>Memberikan gambaran mengenai lokasi yang potensial untuk investasi properti</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src={{ url_for('static', filename='/images/business-profit-icon.png') }} alt="Pembeli Properti" width="75" height="75" align="center">
        <div class="caption">
          <h4><b>Pembeli Properti</b></h4>
          <p>Bisa mengecek kisaran harga terkini sebagai panduan dalam membeli properti</p>
        </div>
      </div>
    </div>
  </div>
 <br id="faq">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  
  <!-- Accordion -->
  <div  margin-bot class="container">
    <h2>FAQ</h2>
  </div>
  <div class="col-md-6 col-md-offset-3 bg-warning mb-5 pb-5">
  <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Apakah harga di Alaya akurat?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Kami memiliki data yang cukup untuk membangun model prediksi yang akurat dalam memprediksi harga rumah yang Anda inginkan.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Apa saja faktor-faktor yang mempengaruhi nilai properti?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Sejumlah faktor penentu nilai properti di antaranya adalah lokasi, spesifikasi bangunan, hingga tren kenaikan harga di sekitar area properti.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Kenapa perlu mengetahui nilai properti?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Dengan mengetahui nilai properti di suatu kawasan saat beli rumah atau apartemen, maka kamu bisa melakukan perbandingan dan memilih yang sesuai dengan kemampuan finansial.
      </div>
    </div>
  </div>
</div>

</div>
  <!-- Accordion  -->

  <!-- Bagian Anggota Kelompok  -->
  
  <div id="anggotakelompok" class="container mt-5">
    <h3 class="mt-5"><b>Anggota Kelompok</b></h3>
  </div>

<section class="review" id="review">
    <h1 class="heading">
    </h1>
    <div class="swiper-container review-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <img src={{ url_for('static', filename='/images/peksy.jpg') }} alt="img_peksy">
                    <h3>PEKSYAJI</h3>
                    <p>Universitas Indonesia | Statistika</p>
                    <p>Division Modelling (Data Science)</p>
                  
                    <a class="github-btn btn btn-default btn-lg fa-brands fa-github" href="https://github.com/Peksyaji" style="color:#000000 ;border-color: #000000;"> Github</a>
                    <a class="github-btn btn btn-default btn-lg fa fa-brands fa-linkedin" href="https://www.linkedin.com/in/peksyaji-8bab2a240" style="color:#000000 ;border-color: #000000;"> Linkedln</a>
               
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src={{ url_for('static', filename='/images/Rachmat.jpeg') }}  alt="img_rachmat">
                    <h3>Rachmat</h3>
                    <p>Universitas Gunadarma | Informatika</p>
                    <p>Division Deployment</p>
                  
                    <a class="github-btn btn btn-default btn-lg fa-brands fa-github" href="https://github.com/Nycht1" style="color:#000000 ;border-color: #000000;"> Github</a>
                    <a class="github-btn btn btn-default btn-lg fa fa-brands fa-linkedin" href="https://www.linkedin.com/in/rachmat-nasution-0b7184158" style="color:#000000 ;border-color: #000000;"> Linkedln</a>
                
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src={{ url_for('static', filename='/images/naufal.jpg') }} alt="img_naufal" >
                    <h3>NAUFAL ABDULLAH H.W.</h3>
                    <p>Universitas Gunadarma | Informatika</p>
                    <p>Division Deployment</p>
                  
                    <a class="github-btn btn btn-default btn-lg fa-brands fa-github" href="https://github.com/naufal918" style="color:#000000 ;border-color: #000000;"> Github</a>
                    <a class="github-btn btn btn-default btn-lg fa fa-brands fa-linkedin" href="https://www.linkedin.com/in/naufalahw28/" style="color:#000000 ;border-color: #000000;"> Linkedln</a>
                
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src={{ url_for('static', filename='/images/Meira.png') }} alt="img_meira">
                    <h3>RATU MEIRA R.Z.</h3>
                    <p>Institut Pertanian Bogor | Manajemen Industri Jasa Makanan Dan Gizi</p>
                    <p>Division Modelling (Data Science)</p>
                  <a class="github-btn btn btn-default btn-lg fa fa-brands fa-linkedin" href="https://www.linkedin.com/in/ratu-meira-rasheeda-zahrah-37462a21a" style="color:#000000 ;border-color: #000000;"> Linkedln</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src={{ url_for('static', filename='/images/denis.jpg') }} alt="img_denis" >
                    <h3>SITI DENIS</h3>
                    <p>Universitas Kuningan | Sistem Informasi</p>
                    <p>Division Deployment</p>
                  <a class="github-btn btn btn-default btn-lg fa-brands fa-github" href="https://github.com/denissansan24" style="color:#000000 ;border-color: #000000;"> Github</a>
                  <a class="github-btn btn btn-default btn-lg fa fa-brands fa-linkedin" href="https://www.linkedin.com/in/siti-denis-551153264/" style="color:#000000 ;border-color: #000000;"> Linkedln</a>
                  
                </div>
            </div>
        </div>
    </div>
</section>


	<!-- Footer -->
	<footer class="container-fluid footer">
    <div class="footer-left">
      <h3>ALAYA</h3>
      <ul>
        <li><a href="#halamanku" style="color:#ffffff">Perusahaan</a></li><br>
        <li><a href="#halamanku" style="color:#ffffff">Tentang Kami</a></li><br>
        <li><a href="#halamanku" style="color:#ffffff">Kebijakan Privasi</a></li>
      </ul>
    </div>
        

        <div class="footer-center">
            <p><span>Hubungi Kami</span></p>
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Indonesia</span> Jawa Barat</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+62 216-437-28</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">muzero1orbit@gmail.com</a></p>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-about">
                <span>About</span>
                Alaya akan membantu anda memprediksi harga dan memberikan rekomendasi rumah sesuai dengan keinginan Anda.
            </p>

            <div class="footer-media">
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up col-xs-12 text-right"></span>
		</a>
    <div class="container text-center">
		<p>Kelompok Muzero 1 <br><a href="https://muzero1orbit.gear918.com/">Muzero 1 Orbit</a></p>
    </div>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>

</body>
</html>
